---
pageable: false
per_page: 10
---

<!-- <div class="nav-lg">
  <div class="logo-wrap"><%= image_tag 'hightops_logo.svg' %></div>
</div> -->
<div class="upstate-nav-sm">
  <header class="upstate-nav-wrapper" role="banner">
    <div class="navigation-wrapper">
      <a href="#home" class="logo">
        <img src="/images/hightops_logo.svg" alt="high tops logo">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
      </nav>
      <div class="navigation-tools">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li data-menuanchor="features" class="nav-link"><a href="#Features">Features</a></li>
          <li data-menuanchor="pricing" class="nav-link"><a href="#Pricing">Pricing</a></li>
          <li data-menuanchor="contact" class="nav-link"><a href="#Contact">Contact</a></li>
          <li data-menuanchor="apply" class="nav-link nav-bubble"><a href="#Apply">Apply</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>

<div id="fullpage">
  <div class="section gradient1" data-anchor="Home">
    <section class="wrapper">
      <br><br><br>
      <div class="upstate-hero">Up State</div>
      <div class="hero-h2">
        Modern, mobile responsive websites launched in one week for $999.
      </div>
      <div class="center no-bg-link">
        <a href="#Overview"><button class="upstate-learn" >Learn More</button></a>
        <a href="#Apply"><button class="upstate-apply" >Apply</button></a>
        <br>
        <br>
      </div>
      <div class="half"> 
        <!-- <div class="sidebar transparent-bg">
        </div>
        <div class="main"> 
          <img src="/images/loading.gif" data-src="/images/browser-top-2.svg" class="browser">
          <div class="scr-desktop upstate-work-pad-bot"><img src="/images/loading.gif" data-src="/images/screen-bfp-tab.jpg"  alt="brooklyn fire proof stages screen capture">
          </div>
          <div class="scr-mobile-wrap mobile-small">
            <img src="/images/loading.gif" data-src="/images/mobile-top.svg" class="mobile-top">
            <div class="mobile-screen">
              <img src="/images/loading.gif" data-src="/images/screen-bfp-mobile.jpg" alt="brooklyn fire proof stages mobile screen capture">
            </div>
            <img src="/images/loading.gif" data-src="/images/mobile-bottom.svg" class="mobile-bottom">
          </div>
        </div> -->
      </div>
     <!--  <div class="hero-support">
        <h3>We care about your success.</h3>
        <p>The first thing we do is discuss your project and your goals in order to make sure we’re a match. Then we…</p>
          <li><i class="fa fa-magic"></i> Customize your theme to match your brand.</li>
          <li><i class="fa fa-file-code-o"></i> Set up your content to look good and perform.</li>
          <li><i class="fa fa-fighter-jet"></i> Boost the performance for faster page loads.</li>
          <li><i class="fa fa-search"></i> Optimize for SEO so you look good in search.</li>
          <li><i class="fa fa-shield"></i> Secure against hackers and bots.</li>
        <br>
        <a href="#Apply"><button class="upstate-apply" >Apply Now</button></a>
      </div> -->
      <div class="hero-sub">
        <div class="full upstate-hero-footer">
          high tops is a web development consultancy<br>
          <strong>based in NYC</strong>
        </div>
      </div>
    </section>
  </div>
  <div class="section white-moon" data-anchor="Overview">
    <section class="wrapper">
      <span class="section-title">Overview</span>
        <h1>Done Right</h1>
        <div class="col-12">
          <div class="col-7">
            <p>We created Up State to make launching high quality websites<strong class="highlight2"> fast, easy and stress-free</strong>. So you can focus on what you do best.</p>
            <br><br>
          </div>
          <div class="col-5 omega">
        </div>
        </div>
        <div class='wrap'>
          <div class='upstate-feature'>
            <img src="images/stress-free.svg" class="upstate-feature-img">
            <h3>Stress-free</h3>
            <p>We’ve made every step of the process easy and logical. You'll fill out our project organizer and we’ll get your website launched.</p>
          </div>
          <div class='upstate-feature'>
            <img src="images/presentation.svg" class="upstate-feature-img">
            <h3>Presentation</h3>
            <p>Your website is a reflection of your business. We help make sure it speaks to your audience.</p>
          </div>
          <div class='upstate-feature'>
            <img src="images/profit.svg" class="upstate-feature-img">
            <h3>Profit</h3>
            <p>Whether you need to generate leads, promote services, or sell a new product, we keep your goals in mind.</p>
          </div>
        </div>
    </section>
  </div>
  <div class="section slight-white" data-anchor="Features">
    <section class="wrapper">
      <div class="full">
        <span class="section-title">Features</span>
        <h1>All in one</h1>
      </div>
      <div class="main">
        <p>We build on WordPress so you can easily manage your site.</p>
        <hr>
        <div class="upstate-features-list col-10">
          <li><i class="fa fa-magic"></i>
            <h3>Customization</h3>
            <p>We add your logo, photographs and artwork, then match the colors and fonts to reflect your brand.</p>
          </li>
          <li><i class="fa fa-file-code-o"></i>
            <h3>Content Set up</h3>
            <p>We make sure your content looks great and fulfills web standards. We'll add up to 10 pages of your content.</p>
          </li>
          <li><i class="fa fa-fighter-jet"></i>
            <h3>Optimization</h3>
            <p>We boost your site’s speed, set up analytics, optimize for SEO, and harden security.</p>
          </li>
          <li><i class="fa fa-tree"></i>
            <h3>Tutorial/Support</h3>
            <p>Once you're launched, we’ll show you how to make updates and changes.</p>
          </li>
        </div>
      </div>
      <div class="sidebar upstate-services-list small">
        <h3>Get everything you need:</h3>
          <li><i class="fa fa-check"></i> $60 credit for theme</li>
          <li><i class="fa fa-check"></i> SEO optimization</li>
          <li><i class="fa fa-check"></i> Fast page loads</li>
          <li><i class="fa fa-check"></i> Secure, limit spam</li>
          <li><i class="fa fa-check"></i> Connect your URL</li>
          <li><i class="fa fa-check"></i> Connect your hosting </li>
          <li><i class="fa fa-check"></i> Analytics</li>
          <li><i class="fa fa-check"></i> Easy blogging</li>
          <li><i class="fa fa-check"></i> Responsive website</li>
          <li><i class="fa fa-check"></i> Mobile friendly</li>
          <li><i class="fa fa-check"></i> Social network icons</li>
          <li><i class="fa fa-check"></i> Newsletter sign ups</li>
          <li><i class="fa fa-check"></i> E-commerce</li>
      </div>
    </section>
  </div>
  <div class="section white-moon" data-anchor="Example">
    <!-- <div class="slide slide-creators" data-anchor="1"> -->
      <section class="wrapper visible">
      <span class="section-title">Example</span>
      <h1>Results</h1>
      <div class="main-big">
        <p class="small"><strong class="highlight3">Brooklyn Fire Proof</strong> needed to promote their sound stage business. We started with a pre-built WordPress theme then built in additional functionality. We then optimized it to improve page load times by 300% to help with SEO and user experience.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
          <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
          <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/screen-bfp.jpg"  alt="brooklyn fire proof screen capture">
          </div>
      </div>
      <div class="sidebar2 omega">
        <div class="upstate-scr-mobile-wrap">
            <img src="/images/loading.gif" data-src="/images/mobile-bfp2.png" alt="brooklyn fire proof mobile screen capture">
         </div>
      </div>
      <div class="full upstate-work-quote">
        <div class="testimonial">
          <div class="testimonial-block upstate-testimonial-block">
            Austin is <strong class="highlight2">incredibly professional, efficient, responds promptly to questions and concerns</strong>, and is able to put technical information into layman’s terms that are easily understood and digested by people like me!
          </div>
          <div class="testimonial">
            <img src="/images/loading.gif" data-src="/images/erin.jpg" alt="erin anderson of brooklyn fire proof" class="testimonial-pic upstate-test-pic"><p class='testimonial-p'>Erin Anderson, <em>Brooklyn Fire Proof</em></p>
          </div>
        </div>
      </div>
      </section>
    <!-- </div> -->
  </div>
  <div class="section upstate-slides slight-white" data-anchor="Themes">
    <div class="slide" data-anchor='Customize'>
      <section class="wrapper">
      <span class="section-title">Themes</span>
        <h1>Choose any theme</h1>
        <p class="">You can choose from, literally, thousands of WordPress themes by any author. Some themes can even be configured to suit multiple industries. <strong>We'll make sure you find a perfect match</strong>, then customize it so it is unique to your project.</p>
        <p>The following is a collection of our favorites: for businesses, portfolios, stores, <strong>landing pages, product launches, conferences</strong>, musicians, restaurants, non-profits, and agencies.</p>
      </section>
    </div>
    <div class="slide" data-anchor="Salient">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Salient</h3>
        <p class="small"><strong>Use Cases: </strong> business, portfolio, creative, photography, blogs. <a href="http://themenectar.com/demo/salient-frostwave/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-salient.jpg"  alt="salient screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-salient.png" alt="salient mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Avada">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Avada</h3>
        <p class="small"><strong>Use Cases: </strong> business, corporate, ecommerce, portfolio, creative, blogs. <a href="http://theme-fusion.com/avada/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-avada.jpg"  alt="avada screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-avada.png" alt="avada mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Bridge">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Bridge</h3>
        <p class="small"><strong>Use Cases: </strong> business, corporate, ecommerce, portfolio, creative, blogs, restaurant, agency. <a href="http://demo.qodeinteractive.com/bridge/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-bridge.jpg"  alt="bridge screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-bridge.png" alt="bridge mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Primary">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Primary</h3>
        <p class="small"><strong>Use Cases: </strong> business, portfolio, blog, ecommerce. <a href="http://primary.phoenix-theme.com/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-primary.jpg"  alt="primary screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-primary.png" alt="primary mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Notio">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Notio</h3>
        <p class="small"><strong>Use Cases: </strong> portfolio, creative, photography, design, illustraton, blog, commerce.<a href="http://notio.fuelthemes.net/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-notio.jpg"  alt="notio screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-notio.png" alt="notio mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Vintage">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Vintage</h3>
        <p class="small"><strong>Use Cases: </strong> store, shop, ecommerce, clothing, records, vintage.<a href="http://vintage.icotheme.com/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-vintage.jpg"  alt="vintage screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-vintage.png" alt="vintage mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Rosa">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Rosa</h3>
        <p class="small"><strong>Use Cases: </strong> restaurant, bar, cafe, ecommerce, brewery, wine shop.<a href="http://pixelgrade.com/demos/rosa2/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-rosa.jpg"  alt="rosa screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-rosa.png" alt="rosa mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Lobo">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Lobo</h3>
        <p class="small"><strong>Use Cases: </strong> agency, design, illustration, photography, creative, ecommerce.<a href="http://vankarwai.com/themes/lobo-agency/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-lobo.jpg"  alt="lobo screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-lobo.png" alt="lobo mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Heal">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Heal</h3>
        <p class="small"><strong>Use Cases: </strong> non-profit, charity, causes, fundraisers, ecommerce.<a href="http://themes.codexcoder.com/heal/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-heal.jpg"  alt="heal screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-heal.png" alt="heal mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>
    <div class="slide" data-anchor="Odio">
      <section class="wrapper visible">
      <div class="main-big">
        <h3>Odio</h3>
        <p class="small"><strong>Use Cases: </strong> musicians, djs, bands, ecommerce. <a href="http://odio.freevision.me/" target="blank">See a demo</a>.</p>
      </div>
      <div class="sidebar2">
      </div>
      <div class="main-big">  
        <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
        <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/theme-screen-odio.jpg"  alt="odio screen capture">
        </div>
      </div>
      <div class="sidebar2">
        <img src="/images/loading.gif" data-src="/images/theme-mobile-odio.png" alt="odio mobile screen capture" class="scr-mobile-wrap">
      </div>
      </section>
    </div>

  </div>
  <div class="section dawn-mist" data-anchor="Pricing">
    <section class="wrapper">
      <span class="section-title">Pricing</span>
      <h1>Website in a week</h1>
      <div class="col-7">
        <h3>Professional Set Up</h3>
        <p>1x build fee of $999<br>
        We launch your high-quality, modern WordPress website in a week and make sure you’re able to manage the site yourself.</p>
        <div class="upstate-price-service">
          <i class="fa fa-cubes"></i><strong>Includes:</strong>
          <li>$60 theme credit</li>
          <li>Connect URL & Hosting</li>
          <li>Theme customization</li>
          <li>Set up content</li>
          <li>SEO Starter</li>
          <li>Analytics</li>
          <li>Performance Optimization</li>
          <li>Security configuration</li>
          <li>Spam protection</li>
          <li>1x Tutorial</li>
          <br>
        </div>
      </div>
      <div class="col-5 omega">
        <h4>Optional Add-Ons</h4>
        <p>For convenience and peace of mind…</p>
        <div class="update-add-on">
            <i class="fa fa-heart"></i>
            </i><h5>Check Ups</h5>
            <p>$129/ea<br>
            We’ll check your website for errors and vulnerabilities. We’ll also check in with you about your goals and can make suggestions for improvements.</p>
        </div>
        <div class="update-add-on">
          <i class="fa fa-pagelines"></i><h5>Monthly Support</h5>
          <p>starts at $49/mo or $499/yr<br>
          We manage your back up system and software updates for you. We also maintain your codebase so everything works well.</p>
        </div>
      </div>
    </section>
  </div>
  <%= partial "partials/about" %>
  <div class="section gradient2" data-anchor="Apply">
    <section class="wrapper">
      <div class="main">
        <span class="section-title">Apply</span>
        <h1>Apply Now</h1>
        <p class="">It’s never too soon to start the application process. We’ll send you a short fom and some additional materials. No newsletters. No spam.</p>
        <form class="upstate-apply-form" action="//formspree.io/hi@austinsamsel.com.com">
          <input type="hidden" name="_next" value="//airheight.herokuapp.com/thanks.html" />
          <input type="hidden" name="_subject" value="New contact on High Tops." />
          <input type="text" name="_gotcha" style="display:none" required />
          <input type="email" name="_replyto" placeholder="Your email" required />
          <button class="upstate-submit" type="submit" value="Submit" />SUBMIT</button>
        </form>
      </div>
      <div class="sidebar transparent-bg">
      </div>
    </section>
  </div>
  <%= partial "partials/contact" %>



</div>

  <%= javascript_include_tag  "all" %>
  <script type="text/javascript">
    var navMenu = function(){
      var menuToggle = $('#js-mobile-menu').unbind();
      $('#js-navigation-menu').removeClass("show");

      menuToggle.on('click', function(e) {
        e.preventDefault();
        $('#js-navigation-menu').slideToggle(function(){
          if($('#js-navigation-menu').is(':hidden')) {
            $('#js-navigation-menu').removeAttr('style');
          }
        });
      });
    };
    $(document).ready(function() {
        $('#fullpage').fullpage({
          anchors: ['Home', 'Overview', 'Features', 'Example', 'Themes', 'Pricing', 'About', 'Apply', 'Contact'],
          responsive: 5000,
          controlArrows: true,
          slidesNavigation: true,
          showActiveTooltips: true,
          fitToSection: false,
          animateAnchor: true,
          scrollBar: true,
          menu:'#js-navigation-menu',
          css3: true,
          slidesNavPosition: 'bottom',
          afterRender: function(){
              $("img").unveil();
              var delay=1000;
              setTimeout(function(){
                 $('.upstate-hero').addClass('visible animated slideInUp');
              }, delay);
              navMenu();
          },
          afterLoad: function(anchorLink, index){
              var loadedSection = $(this);
              if(index == 1){
                  $("img").unveil();
              }
          },
          afterSlideLoad: function( anchorLink, index, slideAnchor, slideIndex){
              var loadedSlide = $(this);

              //first slide of the second section
              if(index == 5 && slideIndex == 0){
                  $('.fp-controlArrow.fp-prev').css('display', 'none');
              }
              if(index == 5 && slideIndex != 0){
                  $('.fp-controlArrow.fp-prev').css('display', 'block');
              }
          }
        });
    });
  </script>