<div class="section winter-night" data-anchor="About" id="About">
  <section class="wrapper night">
    <div class="main">
      <span class="section-title">About</span>
      <br><br>

    <h1 class="light">Listen first</h1>
      <p>
        Are looking to build a website that will pay off for your business? Or are you looking to create the most awesome app ever?
      </p>
      <p>My mantra is <strong class="highlight">listen first, then create</strong>. In order to create beautiful, useful digital products, it starts with listening for my client's real needs (and the needs of their audience). Together we create solutions with measurable results. As we work together, there’s lots of communication and feedback and my clients get to see their projects as they develop. This is how we get it right.</p>
      <p>What's going on with your project? I'd love to share some ideas and see if I can help. <a href="hi@hightopsnyc.com">Let's chat</a>.</p>
    </div>
    <div class="sidebar-night small">
      <h3>Austin Samsel</h3>
      <p class="">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/austin.jpg" alt="austin, founder of High Tops" class="profile-pic">
        Austin Samsel is both a visual designer and a programmer. He believes empathy and connection are the driving forces for creating great work.
      </p>
    </div>
  </section>
</div>
