<div class="section midnight" data-anchor="About">
  <section class="wrapper night">
    <div class="main">
      <span class="section-title">About</span>
      <br><br>
    
    <h1 class="light">Listen first</h1>
    
      <p><strong class="highlight">Listen first, then create</strong>. In order to create beautiful, useful digital products we first listen to our clients. We also listen to their audience. Then we think about solutions and how we can measure the results. As we work together, there’s lots of communication and feedback and our clients get to see their projects develop. This is how we get it right.</p>
    </div>
    <div class="sidebar-night small">
      <h3>Founder<span class="small"><br>Austin Samsel</span></h3>
      <p class="small">
      <img src="/images/loading.gif" data-src="/images/austin.jpg" alt="austin, founder of High Tops" class="profile-pic">
        Austin started as a visual designer before becoming a programmer, working with Javascript, Ruby, and PHP. He believes empathy and connection are the driving forces for creating great work.
      </p>
    </div>
  </section>
</div>