<div class="section dawn-mist" data-anchor="contact">
  <section class="wrapper">
    <div class="main">
      <span class="section-title">Contact</span>
      <h1>Ask us anything</h1>
      <p class="">It’s never too soon to get in touch about a project. Let us know what you're working on. We'd love to hear about it. <strong class="highlight2">No worries, we’re super nice</strong>.</p>
      <form class="" action="//formspree.io/hi@austinsamsel.com.com">
        <input type="hidden" name="_next" value="//airheight.herokuapp.com/thanks.html" />
        <input type="hidden" name="_subject" value="New contact on High Tops." />
        <input type="text" name="_gotcha" style="display:none" required />
        <input type="email" name="_replyto" placeholder="Your email" required />
        <textarea placeholder="Your message"></textarea>
        <button class="upstate-submit" type="submit" value="SEND" />SEND</button>
      </form>
    </div>
    <div class="sidebar">
      <h3>Don't like forms?</h3>
      <p><strong class="small">EMAIL US</strong>:<br>
        hi@hightops.com</p>
        
      <p><strong class="small">call us:</strong><br>
        +1 718 218 3108</p>

      <p><strong class="small">write a letter:</strong><br>
        252 S 4th St,<br>
        Suite 2B<br>
        Brooklyn, NY 11211</p>
    </div>
  </section>
</div>