<div class="nav-sm">
  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <div>
        <div>
          <a href="#Home" class="logo">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/hightops_logo.svg" alt="high tops logo">
          </a>
        </div>
      </div>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <div class="navigation-tools">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li data-menuanchor="Work" class="nav-link"><a href="#Work">Work</a></li>
          <li data-menuanchor="About" class="nav-link"><a href="#About">About</a></li>
          <li data-menuanchor="Contact" class="nav-link"><a href="#Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>
