---
pageable: true
per_page: 10
---
  <header class="nav-lg">
    <div class="logo-wrap"><%= image_tag 'hightops_logo.svg' %></div>
  </header>
  <div id="#fullpage">
    <div class="section dawn-mist" data-anchor="firstPage">
      <section class="wrapper">
        
        <br>
        <br>
        <br>
        <div class="hero">We build digital realities.</div>
        <div class="hero-sub">
          high tops is a web development consultancy<br>
          <strong>based in NYC</strong>
        </div>
      </section>
    </div>
    <div class="section midnight" data-anchor="secondPage">
      <section class="wrapper night">
        <!-- <h1 class="light">What our clients say</h1> -->
        <div class="testimonial">
          <div class="testimonial-block">
            Austin worked quickly and efficiently and <strong class="highlight">got my website done perfectly on the first go</strong>, which is super rare. Austin is also great about solving any problems and responding right away. I'd recommend him as an A+.
          </div>
          <div class="testimonial">
            <img src="/images/loading.gif" data-src="/images/marlo.jpg" alt="marlo of creator's connect" class="testimonial-pic"><p class='testimonial-p'>Marlo Kronberg, <em>Creators Connect</em></p>
          </div>
        </div>
      </section>
    </div>
    <div class="section egg-blue">
      <section class="wrapper">
        <div class="main">
          <span class="section-title">Services</span>
          <h1>Our Impact</h1>
          <p class="">We guide our clients to <strong class="highlight2">the best choices in tech</strong>. First we understand their business and the challenges they face. Then we create unique solutions with measurable results that achieve your business goals.</p>
        </div>
        <div class="sidebar">
          <h3>We help with…</h3>
          <li>new websites</li>
          <li>web or mobile apps</li>
          <li>database applications</li>
          <li>action-oriented consulting</li>
          <li>increasing revenue</li>
          <li>saving money</li>
          <li>increasing users</li>
          <li>retaining users</li>
          <li>increasing sign ups</li>
          <li>generating leads</li>
        </div>
      </section>
    </div>

    <div class="section spring-vine">
      <section class="wrapper night">
        <span class="section-title">Process</span>
        <h1 class="light">Methodology</h1>
        <div class="main omega">
          <p>To help you make the best choices in digital, we start by understanding your business. Then we talk about your project. Our goal-oriented approach is all about you, whether its getting you sales or sign ups or gaining users for your product.</p>

        </div>
        <!--<div class="fancy-nums">
          <li class="num"><span class="fancy">1)</span>

            <strong class="highlight3">Do the right amount of</strong> :<br> 
              research |||||||||||||||||||||||<br>
              <span class="extra-sm">quora, analytics, interviews, surveys etc...</span><br>
              planning ||||||||||||||||||||||<br>
              <span class="extra-sm">user flows, info architecture, sketches etc...</span><br>
              prototyping ||||||||||||||||||||||<br>
              <span class="extra-sm">wireframes, user interface, visual design...</span></li>
          <li class="num"><span class="fancy">2)</span><strong class="highlight3">Launch early</strong> :<br>
           cut it down to the minimum necessary features and launch early with a beautiful product. At this stage we want to understand exactly the problem we are hired to solve, why we’re solving it and how to do it best.</li>
          <li class="num"><span class="fancy">3)</span>
          <strong class="highlight3">Listen</strong> :<br>
          Get data. Talk to users. Talk to clients. Gather feedback. And evolve. Iterate to increase success. Optimize. Test. Iterate.</li>
        </div>-->
      </section>
    </div>
    <div class="section egg-blue">
      <div class="slide">
        <section class="wrapper">
          <div class="main">
          <span class="section-title">Work</span>
          <h1 class="light">We keep busy</h1>
          
            <p>We’ve done some cool work lately. As you <a href="">browse our work</a> you might wonder: <em>Is this what my project will look like?</em></p>
            <p>The answer is: not really. We strive for a natural expression of every project, determined by its unique goals, context, and identity.</p>
            <p><strong>Your project will be different</strong>.</p>
          </div>
          <div class="sidebar">
            <p class="sidebar-testimonial">
              <em>Austin is incredibly professional, efficient, responds promptly to questions and concerns, and is able to put technical information into layman’s terms that are easily understood and digested by people like me!</em><br>
            </p>
            <p class="sidebar-testimonial-footer">
            <img src="/images/loading.gif" data-src="/images/erin.jpg" class="profile-pic" alt="Erin of Brooklyn Fire Proof">Erin Anderson, <em>Brooklyn Fire Proof</em></p>
          </div>
        </section>
      </div>
      <div class="slide slide-creators">
        <section class="wrapper visible">
        <div class="main-big">
          <p class="extra-sm"><strong class="highlight3">Creators Connect</strong> needed to showcase the members of their community. We developed a custom WordPress theme from a designer's mock up. We programmed it to have a modern feel and modern functionality. It works across all devices and screens and makes use of some slick animations.</p>
        </div>
        <div class="sidebar2">
        </div>
        <div class="main-big">  
            <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
            <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/screen-cc.jpg"  alt="creators connect screen capture">
            </div>
        </div>
        <div class="sidebar2">
          <div class="scr-mobile-wrap">
            <img src="/images/loading.gif" data-src="/images/mobile-top.svg" class="mobile-top">
            <div class="mobile-screen">
              <img src="/images/loading.gif" data-src="/images/screen-cc-mobile.jpg" alt="creators connect mobile screen capture">
            </div>
            <img src="/images/loading.gif" data-src="/images/mobile-bottom.svg" class="mobile-bottom">
           </div>
        </div>
        </section>
      </div>
      <div class="slide slide-madepulse">
        <section class="wrapper visible">
        <div class="main-big">
          <p class="extra-sm"><strong class="highlight3">MadePulse</strong> needed to showcase the members of their community. We developed a custom WordPress theme from a designer's mock up. We programmed it to have a modern feel and modern functionality. It works across all devices and screens and makes use of some slick animations.</p>
        </div>
        <div class="sidebar2">
        </div>
        <div class="main-big">  
            <img src="/images/loading.gif" data-src="/images/browser.svg" class="browser">
            <div class="scr-desktop"><img src="/images/loading.gif" data-src="/images/screen-madepulse.jpg" alt="made pulse screen capture"></div>
        </div> 
        <div class="sidebar2">
          <div class="scr-mobile-wrap">
            <img src="/images/loading.gif" data-src="/images/mobile-top.svg" class="mobile-top">
            
            <div class="mobile-screen">
              <img src="/images/loading.gif" data-src="/images/screen-madepulse-mobile.jpg" alt="made pulse mobile screen capture">
            </div>
            <img src="/images/loading.gif" data-src="/images/mobile-bottom.svg" class="mobile-bottom">

           </div>
        </div>
        </section>
      </div>
      <div class="slide"> Slide 4 </div>
    </div>
    <div class="section midnight">
      <section class="wrapper night">
        <div class="main">
          <span class="section-title">About</span>
          <br><br>
        
        <h1 class="light">Listen first</h1>
        
          <p><strong class="highlight">Listen first, then build</strong>. In order to create beautiful, useful digital products we first listen to our clients. We also listen to their audience. Then we think about solutions and how we can measure the results. As we work together, there’s lots of communication and feedback and our clients get to see their projects develop. This is how we get it right.</p>
        </div>
        <div class="sidebar-night">
          <h3>Founder<span class="tiny"><br>Austin Samsel</span></h3>
          <p class="small">
          <img src="/images/loading.gif" data-src="/images/austin.jpg" alt="austin, founder of High Tops" class="profile-pic">
            Austin started as a visual designer before learning to program with Javascript, Ruby, and PHP. He believes empathizing and connecting with people is the driving force behind creating great work.
          </p>
        </div>
      </section>
    </div>
    <div class="section dawn-mist">
      <section class="wrapper">
        <div class="main">
          <span class="section-title">Contact</span>
          <h1>Ask us anything</h1>
          <p class="">It’s never too soon to get in touch about a project. Let us know what you're working on. We'd love to hear about it. <strong class="highlight2">No worries, we’re super nice</strong>.</p>
          <form class="" action="//formspree.io/you@email.com">
            <input type="hidden" name="_next" value="//site.io/thanks.html" />
            <input type="hidden" name="_subject" value="New contact on High Tops." />
            <input type="text" name="_gotcha" style="display:none" required />
            <input type="email" name="_replyto" placeholder="Your email" required />
            <textarea placeholder="Your message"></textarea>
            <input type="submit" value="Send" />
          </form>
        </div>
        <div class="sidebar">
          <h3>Don't like forms?</h3>
          <p><strong>e-mail us</strong>:<br>
            goodtimes@hightops.com</p>
            
          <p><strong>call us:</strong><br>
            +1 718 218 3108</p>

          <p><strong>write a letter:</strong><br>
            252 S 4th St,<br>
            Suite 2B<br>
            Brooklyn, NY 11211</p>
        </div>
      </section>
    </div>
  </div>
  
  <%= javascript_include_tag  "all" %>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
          anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'fifthPage', 'sixthPage', 'lastPage'],
          responsive: 5000,
          controlArrows: false,
          slidesNavigation: true,
          showActiveTooltips: true,
          fitToSection: false,
          animateAnchor: true,
          scrollBar: true,
          css3: true,
          slidesNavPosition: 'bottom',
          afterLoad: function(anchorLink, index){
              var loadedSection = $(this);
              if(anchorLink == "firstPage"){
                  $('header').animate({height: '0em'}, 3000).removeClass("nav-sm").css('height','3em').addClass("nav-lg");
              }
          },
          onLeave: function(index, nextIndex, direction){
            var leavingSection = $(this);

            //after leaving section 2
            if(index == 1 && direction =='down'){
              $('header').removeClass("nav-lg").css('height','0em').addClass("nav-sm").animate({height: '2em'}, 3000);
            }
            else if(index == 2 && direction == 'up'){
              $('header').animate({height: '0px'}, 3000).removeClass("nav-sm").css('height','3em').addClass("nav-lg");
            }
          }
        });
    });

    $.ajax({
        url: "//formspree.io/you@email.com", 
        method: "POST",
        data: {message: "hello!"},
        dataType: "json"
    });
    
    $(document).ready(function() {
      $("img").unveil();
      $('.slide-creators').addClass('loadImage-creators');
      $('.slide-madepulse').addClass('loadImage-madepulse');
    });





  </script>
