---
pageable: true
per_page: 10
---

  <div id="fullpage">
    <div class="section dawn-mist">
      <section class="wrapper">
        <div class="logo-wrap"><%= image_tag 'hightops_logo.svg' %></div>
        <div class="hero">We build digital realities.</div>
        <div class="hero-sub">
          high tops is a web development consultancy<br>
          <strong>based in NYC</strong>
        </div>
      </section>
    </div>
    <div class="section midnight">
      <section class="wrapper night">
        <h1 class="light">What our clients say</h1>
        <div class="testimonial">
          <blockquote>
            Austin worked quickly and efficiently and <strong class="highlight">got my website done perfectly on the first go</strong>, which is super rare. Austin is also great about solving any problems and responding right away. I'd recommend him as an A+.
          </blockquote>
        </div>
      </section>
    </div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
  </div>
  
  <%= javascript_include_tag  "all" %>
  <script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage();
    });i
  </script>
