---
pageable: false
per_page: 10
---
  <div class="nav-lg">
    <div class="logo-wrap"><!-- <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/hightops_logo.svg" alt="high tops logo"> --></div>
  </div>

  <div class="nav-sm">
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="#Home" class="logo">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/hightops_logo.svg" alt="high tops logo">
        </a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        <nav role="navigation">
          
        </nav>
        <div class="navigation-tools">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <li data-menuanchor="Services" class="nav-link"><a href="#Services">Services</a></li>
           <!--  <li data-menuanchor="Process" class="nav-link"><a href="#Process">Process</a></li> -->
            <li data-menuanchor="Work" class="nav-link"><a href="#Work">Work</a></li>

            <li class="nav-link more"><a href="javascript:void(0)">Products</a>
              <ul class="submenu">
                <li><a href="http://upstatebiz.com">Up State</a></li>
              </ul>
            </li>

            <li data-menuanchor="About" class="nav-link"><a href="#About">About</a></li>
            <li data-menuanchor="Contact" class="nav-link"><a href="#Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>

  <div id="fullpage">
    <div class="section gradient3" data-anchor="Home">
      <section class="wrapper">
        <div id="hero-story" class="hero"></div>
        <div class="hero-sub">
          high tops is a web development consultancy<br>
          <strong>based in NYC</strong>
          <a href="#Praise"><i class="fa fa-arrow-down scroll-down-arrow"></i></a>
        </div>
      </section>
    </div>
    <div class="section midnight" data-anchor="Praise">
      <section class="wrapper night">
        <!-- <h1 class="light">What our clients say</h1> -->
        <div class="testimonial">
          <div class="testimonial-block">
            Austin worked quickly and efficiently and <strong class="highlight">got my website done perfectly on the first go</strong>, which is super rare. Austin is also great about solving any problems and responding right away. I'd recommend him as an A+.
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/marlo.jpg" alt="Marlo of Creators Connect" class="testimonial-pic"><p class='testimonial-p'>Marlo Kronberg, <em>Creators Connect</em></p>
          </div>
        </div>
      </section>
    </div>
    <div class="section egg-blue" data-anchor="Services">
      <section class="wrapper">
        <div class="main">
          <span class="section-title">Services</span>
          <h1>Our Impact</h1>
          <p class="">We guide our clients to <strong class="highlight2">the best choices in tech</strong>. We start by understanding your business needs first. Then we talk about your project. We frame every decision around your end goals. This is how we create unique solutions with measurable results.</p>
        </div>
        <!-- <div class="sidebar services-list small">
          <h3>We help with…</h3>
          <li><i class="fa fa-check"></i> new & existing websites</li>
          <li><i class="fa fa-check"></i> web and mobile apps</li>
          <li><i class="fa fa-check"></i> database applications</li>
          <li><i class="fa fa-check"></i> action-oriented consulting</li>
          <li><i class="fa fa-check"></i> increasing revenue</li>
          <li><i class="fa fa-check"></i> saving money</li>
          <li><i class="fa fa-check"></i> increasing users</li>
          <li><i class="fa fa-check"></i> retaining users</li>
          <li><i class="fa fa-check"></i> increasing sign ups</li>
          <li><i class="fa fa-check"></i> generating leads</li>
        </div> -->
      </section>
    </div>

    <!-- <div class="section spring-vine" data-anchor="Methodology">
      <section class="wrapper night">
        <span class="section-title">Process</span>
        <h1 class="light">Methodology</h1>
        <div class="main omega">
          <p>To help make the best choices in digital, we start by understanding your business needs. Then we talk about your project. Our goal-oriented approach is all about you, whether its getting you sales or sign ups or gaining users for a product.</p>

        </div>
        <div class="fancy-nums">
          <li class="num"><span class="fancy">1)</span>

            <strong class="highlight3">Do the right amount of</strong> :<br> 
              research |||||||||||||||||||||||<br>
              <span class="extra-sm">quora, analytics, interviews, surveys etc...</span><br>
              planning ||||||||||||||||||||||<br>
              <span class="extra-sm">user flows, info architecture, sketches etc...</span><br>
              prototyping ||||||||||||||||||||||<br>
              <span class="extra-sm">wireframes, user interface, visual design...</span></li>
          <li class="num"><span class="fancy">2)</span><strong class="highlight3">Launch early</strong> :<br>
           cut it down to the minimum necessary features and launch early with a beautiful product. At this stage we want to understand exactly the problem we are hired to solve, why we’re solving it and how to do it best.</li>
          <li class="num"><span class="fancy">3)</span>
          <strong class="highlight3">Listen</strong> :<br>
          Get data. Talk to users. Talk to clients. Gather feedback. And evolve. Iterate to increase success. Optimize. Test. Iterate.</li>
        </div>
      </section>
    </div> -->
    <div class="section spring-vine" data-anchor="Praise2">
      <section class="wrapper night">
        <!-- <h1 class="light">What our clients say</h1> -->
        <div class="testimonial">
          <div class="testimonial-block">
           Austin is <strong class="highlight">incredibly professional, efficient, responds promptly</strong> to questions and concerns, and is able to put technical information into layman’s terms that are easily understood and digested by people like me!
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/erin.jpg" alt="Erin of Brooklyn Fire Proof" class="testimonial-pic"><p class='testimonial-p'>Erin Anderson, <em>Brooklyn Fire Proof</em></p>
          </div>
        </div>
      </section>
    </div>
    <div class="section slight-white" data-anchor="Work">
      <div class="slide">
        <section class="wrapper">
          <div class="main">
          <span class="section-title">Work</span>
          <h1 class="light">We keep busy</h1>
            <p>We’ve done some cool work lately. As you <a href="#Work/1">browse our work</a> you might wonder: <em>Is this what my project will look like?</em></p>
            <p>The answer is: not really. We strive for a natural expression of every project, determined by its unique goals, context, and identity.</p>
            <p><strong>Your project will be different</strong>.</p>
          </div>
          <div class="sidebar2 mobile-screens">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-creators.jpg" alt="creators connect mobile screen capture" class="scr-mobile-wrap">
          </div>
        </section>
      </div>
      <div class="slide slide-creators" data-anchor="1">
        <section class="wrapper visible">
        <div class="main-big">
          <p class="small"><strong class="highlight3">Creators Connect</strong> needed to grow their community user base. We developed a custom WordPress theme from a mock up and imagined a feature set. We programmed it to have a modern feel and modern functionality. <a href="http://creatorsconnect.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
        </div>
        <div class="sidebar2">
        </div>
        <div class="main-big">  
          
          <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-cc.jpg"  alt="creators connect screen capture">
          </div>
        </div>
        <div class="sidebar2 mobile-screens">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-creators.jpg" alt="creators connect mobile screen capture" class="scr-mobile-wrap">
        </div>
        </section>
      </div>
      <div class="slide slide-madepulse">
        <section class="wrapper visible">
        <div class="main-big">
          <p class="small"><strong class="highlight3">MadePulse</strong> was created as an in-the-moment accomplishment tracker or "done list" where users can share their work and project progress with others. We built in social functionality such as: likes, comments, and the ability to follow other users. <a href="https://madepulse.herokuapp.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
        </div>
        <div class="sidebar2">
        </div>
        <div class="main-big">  
          
          <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-madepulse.jpg" alt="made pulse screen capture"></div>
        </div> 
        <div class="sidebar2">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-madepulse.jpg" alt="made pulse mobile screen capture" class="scr-mobile-wrap">
        </div>
        </section>
      </div>

      <div class="slide slide-bfp">
        <section class="wrapper visible">
        <div class="main-big">
          <p class="small"><strong class="highlight3">Brooklyn Fire Proof</strong> needed to promote their sound stage business. We started with a pre-built WordPress theme then built in additional functionality into their website. We then optimized it to improve page load times by 300% to help with SEO and user experience. <a href="http://brooklynfireproofstages.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
        </div>
        <div class="sidebar2">
        </div>
        <div class="main-big">  
            <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-bfp.jpg"  alt="brooklyn fire proof screen capture"></div>
        </div>
        <div class="sidebar2">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src-small="/images/nada.jpg" data-src="/images/mobile-bfp.jpg" alt="brooklyn fire proof stages mobile screen capture" class="scr-mobile-wrap">
        </div>
        </section>
      </div>
      
      <div class="slide slide-calico">
        <section class="wrapper visible">
        <div class="main-big">
          <p class="extra-sm"><strong class="highlight3">Calico</strong> was created to offer fast, free, and easy calendar booking for professionals. We built this app to be lightweight and mobile responsive so users could book with their favorite professionals on-the-go. <a href="https://calico.herokuapp.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
        </div>
        <div class="sidebar2">
        </div>
        <div class="main-big">  
          
          <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-calico.jpg"  alt="calico screen capture"></div>
        </div>
        <div class="sidebar2">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-calico.jpg" alt="calico mobile screen capture" class="scr-mobile-wrap">
        </div>
        </section>
      </div>

      <div class="slide slide-haiku">
        <section class="wrapper visible">
        <div class="main-big">
          <p class="extra-sm"><strong class="highlight3">haiku</strong> was born out of the need for a simple, lightweight text editor with just a few basic features for composing notes. We hooked together the ZenPen package with a Ruby on Rails back end for authentication so users can save their work in the cloud. <a href="https://aha-haiku.herokuapp.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
        </div>
        <div class="sidebar2">
        </div>
        <div class="main-big">  
          
          <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-haiku.jpg"  alt="haiku screen capture">
          </div>
        </div>
        <div class="sidebar2">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-haiku.jpg" alt="haiku mobile screen capture" class="scr-mobile-wrap">
        </div>
        </section>
      </div>

    </div>
    <%= partial "partials/about" %>
    <%= partial "partials/contact" %>
  </div>
