---
pageable: false
per_page: 10
---
  <div class="nav-lg">
    <div class="logo-wrap"><!-- <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/hightops_logo.svg" alt="high tops logo"> --></div>
  </div>
  <!--start nav-->
  <div class="nav-sm">
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="#Home" class="logo">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/hightops_logo.svg" alt="high tops logo">
        </a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        <nav role="navigation">
          
        </nav>
        <div class="navigation-tools">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <li data-menuanchor="Work" class="nav-link"><a href="#Work">Work</a></li>
            <li data-menuanchor="About" class="nav-link"><a href="#About">About</a></li>
            <li data-menuanchor="Contact" class="nav-link"><a href="#Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>

  <div id="fullpage">
    <div class="section gradient3" id="home-slide" data-anchor="Home">
      <section class="wrapper">
        <div id="hero-story" class="hero">
        </div>
        <div class="hero-h2">
          websites and web apps driven by business needs
        </div>
        <div class="hero-sub">

         <!-- a web development consultancy<br>
          <strong>based in NYC</strong> -->
         <!--  <a href="#Praise"><i class="fa fa-arrow-down scroll-down-arrow"></i></a> -->
        </div>
      </section>
    </div>
    <div class="section" data-anchor="Work">
      <section class="wrapper midnight night">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Creators Connect</h2>
            <p class="small"><!-- <strong class="highlight3">Creators Connect</strong> --> Creators Connect needed to grow their community user base. I developed a completely custom WordPress theme from a mock up and helped imagine the feature set. I programmed it to have a modern feel and modern functionality. <a href="http://creatorsconnect.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">            
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-cc.jpg"  alt="creators connect screen capture">
              </div>
          </div>
          <div class="sidebar2 omega">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-creators.jpg" alt="temporary storage mobile screen capture" class="scr-mobile-wrap">
          </div>
          <br>
          <br>
        <!-- <h1 class="light">What our clients say</h1> -->

        <div class="testimonial">
          <div class="testimonial-block">
            Austin worked quickly and efficiently and <strong class="highlight">got my website done perfectly on the first go</strong>, which is super rare. Austin is also great about solving any problems and responding right away. I'd recommend him as an A+.
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/marlo.jpg" alt="Marlo of Creators Connect" class="testimonial-pic"><p class='testimonial-p'>Marlo Kronberg, <em>Creators Connect</em></p>
          </div>
        </div>
      </section>


      <section class="wrapper egg-blue">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Made Pulse</h2>
            <p class="small">MadePulse was created as an in-the-moment accomplishment tracker or "done list" where users can share their work and project progress with others. I built in social functionality such as: likes, comments, and the ability to follow other users. <a href="https://madepulse.herokuapp.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">            
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-madepulse.jpg"  alt="creators connect screen capture">
              </div>
          </div>
          <div class="sidebar2 omega">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-madepulse.jpg" alt="temporary storage mobile screen capture" class="scr-mobile-wrap">
          </div>
          <br>
          <br>
        <!-- <h1 class="light">What our clients say</h1> -->

        <!-- <div class="testimonial">
          <div class="testimonial-block">
            Austin worked quickly and efficiently and <strong class="highlight">got my website done perfectly on the first go</strong>, which is super rare. Austin is also great about solving any problems and responding right away. I'd recommend him as an A+.
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/marlo.jpg" alt="Marlo of Creators Connect" class="testimonial-pic"><p class='testimonial-p'>Marlo Kronberg, <em>Creators Connect</em></p>
          </div>
        </div> -->
      </section>

      <section class="wrapper spring-vine night">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Brooklyn Fire Proof Stages</h2>
            <p class="small">Brooklyn Fire Proof needed to promote their sound stage business. I started with a pre-built WordPress theme then customized it with additional functionality. I then optimized it to improve page load times by 300% to help with SEO and user experience. <a href="http://brooklynfireproofstages.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">            
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-bfp.jpg"  alt="creators connect screen capture">
              </div>
          </div>
          <div class="sidebar2 omega">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-bfp.jpg" alt="temporary storage mobile screen capture" class="scr-mobile-wrap">
          </div>
          <br>
          <br>
        <!-- <h1 class="light">What our clients say</h1> -->

        <div class="testimonial">
          <div class="testimonial-block">
           Austin is <strong class="highlight">incredibly professional, efficient, responds promptly</strong> to questions and concerns, and is able to put technical information into layman’s terms that are easily understood and digested by people like me!
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/erin.jpg" alt="Erin of Brooklyn Fire Proof" class="testimonial-pic"><p class='testimonial-p'>Erin Anderson, <em>Brooklyn Fire Proof</em></p>
          </div>
        </div>
      </section>



      <section class="wrapper egg-blue">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Calico</h2>
            <p class="extra-sm">Calico was created to offer fast, free, and easy calendar booking for professionals. I built this app to be lightweight and mobile responsive so users could book with their favorite professionals on-the-go. <a href="https://calico.herokuapp.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">            
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-calico.jpg"  alt="creators connect screen capture">
              </div>
          </div>
          <div class="sidebar2 omega">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-calico.jpg" alt="temporary storage mobile screen capture" class="scr-mobile-wrap">
          </div>
          <br>
          <br>
        <!-- <h1 class="light">What our clients say</h1> -->

        <!-- <div class="testimonial">
          <div class="testimonial-block">
            Austin worked quickly and efficiently and <strong class="highlight">got my website done perfectly on the first go</strong>, which is super rare. Austin is also great about solving any problems and responding right away. I'd recommend him as an A+.
          </div>
          <div class="testimonial">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/marlo.jpg" alt="Marlo of Creators Connect" class="testimonial-pic"><p class='testimonial-p'>Marlo Kronberg, <em>Creators Connect</em></p>
          </div>
        </div> -->
      </section>



      <section class="wrapper spring-vine night">
        <span class="section-title">Work</span>
          <div class='full-page-col'></div>
          <div class="main-big">
            <h2 class="h2-header">Haiku</h2>
            <p class="extra-sm">haiku was born out of the need for a simple, lightweight text editor with just a few basic features for composing notes. I hooked together the ZenPen package with a Ruby on Rails back end for authentication so users can save their work in the cloud. <a href="https://aha-haiku.herokuapp.com" target="blank"> Project Link <i class="fa fa-sign-out"></i></a></p>
          </div>
          <div class="sidebar2 omega">
          </div>
          <div class='full-page-col'></div>
          <div class="main-big">            
              <div class="scr-desktop"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/small/screen-haiku.jpg"  alt="creators connect screen capture">
              </div>
          </div>
          <div class="sidebar2 omega">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/images/mobile-haiku.jpg" alt="temporary storage mobile screen capture" class="scr-mobile-wrap">
          </div>

      </section>
    </div>
  

    </div>
    <%= partial "partials/about" %>
    <%= partial "partials/contact" %>
  </div>
